In [1]:
import pandas as pd

In [2]:
#load files
file_path_1 = "C:\\Users\\LabUser\\Project_3\\School_Data\\ELSI_csv_export_1.csv"
file_path_2 = "C:\\Users\\LabUser\\Project_3\\School_Data\\ELSI_csv_export_2.csv"
file_path_3 = "C:\\Users\\LabUser\\Project_3\\School_Data\\ELSI_csv_export_3.csv"

In [3]:
#read files
data_1 = pd.read_csv(file_path_1, skiprows=6)
data_2 = pd.read_csv(file_path_2, skiprows=6)
data_3 = pd.read_csv(file_path_3, skiprows=6)

In [4]:
#drop ANSI/FIPS column
data_1 = data_1.drop(columns=['ANSI/FIPS State Code [Public School] Latest available year'])
data_2 = data_2.drop(columns=['ANSI/FIPS State Code [Public School] Latest available year'])
data_3 = data_3.drop(columns=['ANSI/FIPS State Code [Public School] Latest available year'])

In [5]:
#drop duplicates from each of the three files
data_1 = data_1.drop_duplicates()
data_2 = data_2.drop_duplicates()
data_3 = data_3.drop_duplicates()

In [6]:
data_1.drop_duplicates()

,School Name,State Name [Public School] Latest available year,School ID - NCES Assigned [Public School] Latest available year,County Name [Public School] 2013-14,Location ZIP [Public School] 2013-14,Location City [Public School] 2013-14,School Type [Public School] 2013-14,Charter School [Public School] 2013-14,Charter School [Public School] 2012-13,Charter School [Public School] 2011-12,...,Reduced-price Lunch Eligible Students [Public School] 2011-12,Reduced-price Lunch Eligible Students [Public School] 2010-11,Reduced-price Lunch Eligible Students [Public School] 2009-10,Reduced-price Lunch Eligible Students [Public School] 2008-09,Reduced-price Lunch Eligible Students [Public School] 2007-08,Reduced-price Lunch Eligible Students [Public School] 2006-07,Reduced-price Lunch Eligible Students [Public School] 2005-06,Reduced-price Lunch Eligible Students [Public School] 2004-05,Reduced-price Lunch Eligible Students [Public School] 2003-04,Reduced-price Lunch Eligible Students [Public School] 2002-03
0,`FRANKLIN ELEMENTARY SCHOOL,New Jersey,3.407890e+11,HUDSON COUNTY,07032,KEARNY,1-Regular school,2-No,2-No,2-No,...,124,111,121,124,152,128,109,–,116,153
1,03-MM,Florida,1.201500e+11,†,†,†,†,†,†,†,...,†,†,†,†,†,†,†,†,†,†
2,1 LT CHARLES W. WHITCOMB SCHOOL,Massachusetts,2.507320e+11,MIDDLESEX COUNTY,01752,MARLBOROUGH,1-Regular school,2-No,2-No,2-No,...,113,126,118,117,†,†,†,†,†,†
3,1 SCHOOL ...,New York,3.616830e+11,†,†,†,†,†,†,†,...,†,†,†,†,†,†,†,†,–,18
4,100 ACADEMY OF ENGINEERING AND TECHNOLOGY ES,Nevada,3.200060e+11,CLARK COUNTY,89032,NORTH LAS VEGAS,1-Regular school,1-Yes,1-Yes,1-Yes,...,0,21,–,36,–,–,†,†,†,†
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124865,ZWOLLE INTERMEDIATE SCHOOL ...,Louisiana,2.201380e+11,†,†,†,†,†,†,†,...,†,†,†,†,†,†,†,30,31,33
124866,Data Source: U.S. Department of Education Nati...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124867,† indicates that the data are not applicable.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124868,– indicates that the data are missing.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124869,‡ indicates that the data do not meet NCES dat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
data_2.drop_duplicates()

,School Name,State Name [Public School] Latest available year,Male Students [Public School] 2013-14,Male Students [Public School] 2012-13,Male Students [Public School] 2011-12,Male Students [Public School] 2010-11,Male Students [Public School] 2009-10,Male Students [Public School] 2008-09,Male Students [Public School] 2007-08,Male Students [Public School] 2006-07,...,Black or African American Students [Public School] 2011-12,Black or African American Students [Public School] 2010-11,Black or African American Students [Public School] 2009-10,Black or African American Students [Public School] 2008-09,Black or African American Students [Public School] 2007-08,Black or African American Students [Public School] 2006-07,Black or African American Students [Public School] 2005-06,Black or African American Students [Public School] 2004-05,Black or African American Students [Public School] 2003-04,Black or African American Students [Public School] 2002-03
0,`FRANKLIN ELEMENTARY SCHOOL,New Jersey,534,555,539,433,530,515,481,464,...,26,20,24,14,13,14,17,9,12,6
1,03-MM,Florida,†,†,†,†,†,†,†,†,...,†,†,†,†,†,†,†,†,†,†
2,1 LT CHARLES W. WHITCOMB SCHOOL,Massachusetts,694,713,695,717,721,694,†,†,...,38,40,40,40,†,†,†,†,†,†
3,1 SCHOOL ...,New York,†,†,†,†,†,†,†,†,...,†,†,†,†,†,†,†,†,38,35
4,100 ACADEMY OF ENGINEERING AND TECHNOLOGY ES,Nevada,281,261,211,150,177,225,314,256,...,328,235,318,391,578,448,†,†,†,†
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124865,ZWOLLE INTERMEDIATE SCHOOL ...,Louisiana,†,†,†,†,†,†,†,†,...,†,†,†,†,†,†,†,77,82,88
124866,Data Source: U.S. Department of Education Nati...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124867,† indicates that the data are not applicable.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124868,– indicates that the data are missing.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124869,‡ indicates that the data do not meet NCES dat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#merge first and second data sets
merged_data_1_2 = pd.merge(data_1, data_2, on=['School Name', 'State Name [Public School] Latest available year'],
                how='left', suffixes=(None, '_overlapping'))

In [9]:
merged_data_1_2

,School Name,State Name [Public School] Latest available year,School ID - NCES Assigned [Public School] Latest available year,County Name [Public School] 2013-14,Location ZIP [Public School] 2013-14,Location City [Public School] 2013-14,School Type [Public School] 2013-14,Charter School [Public School] 2013-14,Charter School [Public School] 2012-13,Charter School [Public School] 2011-12,...,Black or African American Students [Public School] 2011-12,Black or African American Students [Public School] 2010-11,Black or African American Students [Public School] 2009-10,Black or African American Students [Public School] 2008-09,Black or African American Students [Public School] 2007-08,Black or African American Students [Public School] 2006-07,Black or African American Students [Public School] 2005-06,Black or African American Students [Public School] 2004-05,Black or African American Students [Public School] 2003-04,Black or African American Students [Public School] 2002-03
0,`FRANKLIN ELEMENTARY SCHOOL,New Jersey,3.407890e+11,HUDSON COUNTY,07032,KEARNY,1-Regular school,2-No,2-No,2-No,...,26,20,24,14,13,14,17,9,12,6
1,03-MM,Florida,1.201500e+11,†,†,†,†,†,†,†,...,†,†,†,†,†,†,†,†,†,†
2,1 LT CHARLES W. WHITCOMB SCHOOL,Massachusetts,2.507320e+11,MIDDLESEX COUNTY,01752,MARLBOROUGH,1-Regular school,2-No,2-No,2-No,...,38,40,40,40,†,†,†,†,†,†
3,1 SCHOOL ...,New York,3.616830e+11,†,†,†,†,†,†,†,...,†,†,†,†,†,†,†,†,38,35
4,100 ACADEMY OF ENGINEERING AND TECHNOLOGY ES,Nevada,3.200060e+11,CLARK COUNTY,89032,NORTH LAS VEGAS,1-Regular school,1-Yes,1-Yes,1-Yes,...,328,235,318,391,578,448,†,†,†,†
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164554,ZWOLLE INTERMEDIATE SCHOOL ...,Louisiana,2.201380e+11,†,†,†,†,†,†,†,...,†,†,†,†,†,†,†,77,82,88
164555,Data Source: U.S. Department of Education Nati...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164556,† indicates that the data are not applicable.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164557,– indicates that the data are missing.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164558,‡ indicates that the data do not meet NCES dat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#remove overlapping columns
merged_data_1_2 = merged_data_1_2.loc[:, ~merged_data_1_2.columns.str.endswith('_overlapping')]

In [11]:
#drop columns with NaN
merged_data_1_2 = merged_data_1_2.dropna()

In [12]:
#merge 1&2 merged data with third data sets, remove overlapping columns
merged_data = pd.merge(merged_data_1_2, data_3,on=['School Name', 'State Name [Public School] Latest available year'],
            how='left', suffixes=(None, '_overlapping'))

In [13]:
#remove overlapping after final merge
merged_data = merged_data.loc[:, ~merged_data.columns.str.endswith('_overlapping')]

In [14]:
#remove rowns that have special characters in County Name row
merged_data = merged_data[~merged_data['County Name [Public School] 2013-14'].str.contains('†', na=False)]

In [15]:
#drop rows that have NaN in the final merged data set
merged_data = merged_data.dropna()

In [16]:
#drop duplicates based on school name
merged_data = merged_data.drop_duplicates(subset=['School Name'])

In [17]:
merged_data

,School Name,State Name [Public School] Latest available year,School ID - NCES Assigned [Public School] Latest available year,County Name [Public School] 2013-14,Location ZIP [Public School] 2013-14,Location City [Public School] 2013-14,School Type [Public School] 2013-14,Charter School [Public School] 2013-14,Charter School [Public School] 2012-13,Charter School [Public School] 2011-12,...,Pupil/Teacher Ratio [Public School] 2011-12,Pupil/Teacher Ratio [Public School] 2010-11,Pupil/Teacher Ratio [Public School] 2009-10,Pupil/Teacher Ratio [Public School] 2008-09,Pupil/Teacher Ratio [Public School] 2007-08,Pupil/Teacher Ratio [Public School] 2006-07,Pupil/Teacher Ratio [Public School] 2005-06,Pupil/Teacher Ratio [Public School] 2004-05,Pupil/Teacher Ratio [Public School] 2003-04,Pupil/Teacher Ratio [Public School] 2002-03
0,`FRANKLIN ELEMENTARY SCHOOL,New Jersey,3.407890e+11,HUDSON COUNTY,07032,KEARNY,1-Regular school,2-No,2-No,2-No,...,12.94,14.05,16.56,13.60,15.70,13.40,14.60,14.60,15.90,16.00
2,1 LT CHARLES W. WHITCOMB SCHOOL,Massachusetts,2.507320e+11,MIDDLESEX COUNTY,01752,MARLBOROUGH,1-Regular school,2-No,2-No,2-No,...,13.63,13.00,12.16,11.30,†,†,†,†,†,†
4,100 ACADEMY OF ENGINEERING AND TECHNOLOGY ES,Nevada,3.200060e+11,CLARK COUNTY,89032,NORTH LAS VEGAS,1-Regular school,1-Yes,1-Yes,1-Yes,...,141.00,20.64,19.67,19.60,48.80,45.50,†,†,†,†
5,100 ACADEMY OF ENGINEERING AND TECHNOLOGY MS,Nevada,3.200060e+11,CLARK COUNTY,89032,NORTH LAS VEGAS,1-Regular school,1-Yes,1-Yes,1-Yes,...,45.00,21.50,†,18.90,†,†,†,†,†,†
6,100 BLACK MEN OF THE BAY AREA COMMUNITY,California,6.280501e+10,ALAMEDA COUNTY,94607,OAKLAND,1-Regular school,2-No,1-Yes,†,...,†,†,†,†,†,†,†,†,†,†
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580504,ZUPANIC VIRTUAL ACADEMY,California,6.323701e+10,SAN BERNARDINO COUNTY,92376,RIALTO,4-Alternative Education School,2-No,2-No,2-No,...,29.20,–,25.86,31.40,19.00,36.50,36.70,27.00,36.20,38.30
580505,ZURICH SCHOOL,Montana,3.028910e+11,BLAINE COUNTY,59547,ZURICH,1-Regular school,†,†,†,...,7.71,5.97,7.96,10.30,8.40,8.60,8.20,10.00,10.80,10.40
580506,ZWINK EL,Texas,4.825740e+11,HARRIS COUNTY,77389,SPRING,1-Regular school,2-No,2-No,2-No,...,†,†,†,†,†,†,†,†,†,†
580507,ZWOLLE ELEMENTARY SCHOOL,Louisiana,2.201380e+11,SABINE PARISH,71486,ZWOLLE,1-Regular school,2-No,2-No,2-No,...,12.74,13.68,12.60,14.40,14.40,14.70,14.60,12.80,14.50,15.50
580508,ZWOLLE HIGH SCHOOL,Louisiana,2.201380e+11,SABINE PARISH,71486,ZWOLLE,1-Regular school,2-No,2-No,2-No,...,11.85,10.93,11.01,12.00,11.60,11.90,11.70,12.00,12.80,15.40

In [18]:
# replace special characters with NA
data_cleaned = merged_data.replace({"†": pd.NA, "–": pd.NA, "‡": pd.NA})
data_cleaned

,School Name,State Name [Public School] Latest available year,School ID - NCES Assigned [Public School] Latest available year,County Name [Public School] 2013-14,Location ZIP [Public School] 2013-14,Location City [Public School] 2013-14,School Type [Public School] 2013-14,Charter School [Public School] 2013-14,Charter School [Public School] 2012-13,Charter School [Public School] 2011-12,...,Pupil/Teacher Ratio [Public School] 2011-12,Pupil/Teacher Ratio [Public School] 2010-11,Pupil/Teacher Ratio [Public School] 2009-10,Pupil/Teacher Ratio [Public School] 2008-09,Pupil/Teacher Ratio [Public School] 2007-08,Pupil/Teacher Ratio [Public School] 2006-07,Pupil/Teacher Ratio [Public School] 2005-06,Pupil/Teacher Ratio [Public School] 2004-05,Pupil/Teacher Ratio [Public School] 2003-04,Pupil/Teacher Ratio [Public School] 2002-03
0,`FRANKLIN ELEMENTARY SCHOOL,New Jersey,3.407890e+11,HUDSON COUNTY,07032,KEARNY,1-Regular school,2-No,2-No,2-No,...,12.94,14.05,16.56,13.60,15.70,13.40,14.60,14.60,15.90,16.00
2,1 LT CHARLES W. WHITCOMB SCHOOL,Massachusetts,2.507320e+11,MIDDLESEX COUNTY,01752,MARLBOROUGH,1-Regular school,2-No,2-No,2-No,...,13.63,13.00,12.16,11.30,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,100 ACADEMY OF ENGINEERING AND TECHNOLOGY ES,Nevada,3.200060e+11,CLARK COUNTY,89032,NORTH LAS VEGAS,1-Regular school,1-Yes,1-Yes,1-Yes,...,141.00,20.64,19.67,19.60,48.80,45.50,<NA>,<NA>,<NA>,<NA>
5,100 ACADEMY OF ENGINEERING AND TECHNOLOGY MS,Nevada,3.200060e+11,CLARK COUNTY,89032,NORTH LAS VEGAS,1-Regular school,1-Yes,1-Yes,1-Yes,...,45.00,21.50,<NA>,18.90,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
6,100 BLACK MEN OF THE BAY AREA COMMUNITY,California,6.280501e+10,ALAMEDA COUNTY,94607,OAKLAND,1-Regular school,2-No,1-Yes,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580504,ZUPANIC VIRTUAL ACADEMY,California,6.323701e+10,SAN BERNARDINO COUNTY,92376,RIALTO,4-Alternative Education School,2-No,2-No,2-No,...,29.20,<NA>,25.86,31.40,19.00,36.50,36.70,27.00,36.20,38.30
580505,ZURICH SCHOOL,Montana,3.028910e+11,BLAINE COUNTY,59547,ZURICH,1-Regular school,<NA>,<NA>,<NA>,...,7.71,5.97,7.96,10.30,8.40,8.60,8.20,10.00,10.80,10.40
580506,ZWINK EL,Texas,4.825740e+11,HARRIS COUNTY,77389,SPRING,1-Regular school,2-No,2-No,2-No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
580507,ZWOLLE ELEMENTARY SCHOOL,Louisiana,2.201380e+11,SABINE PARISH,71486,ZWOLLE,1-Regular school,2-No,2-No,2-No,...,12.74,13.68,12.60,14.40,14.40,14.70,14.60,12.80,14.50,15.50
580508,ZWOLLE HIGH SCHOOL,Louisiana,2.201380e+11,SABINE PARISH,71486,ZWOLLE,1-Regular school,2-No,2-No,2-No,...,11.85,10.93,11.01,12.00,11.60,11.90,11.70,12.00,12.80,15.40

In [25]:
pd.set_option('display.max_columns', None)
print(data_cleaned.columns.tolist())

['School Name', 'State Name [Public School] Latest available year', 'School ID - NCES Assigned [Public School] Latest available year', 'County Name [Public School] 2013-14', 'Location ZIP [Public School] 2013-14', 'Location City [Public School] 2013-14', 'School Type [Public School] 2013-14', 'Charter School [Public School] 2013-14', 'Charter School [Public School] 2012-13', 'Charter School [Public School] 2011-12', 'Charter School [Public School] 2010-11', 'Charter School [Public School] 2009-10', 'Charter School [Public School] 2008-09', 'Charter School [Public School] 2007-08', 'Charter School [Public School] 2006-07', 'Charter School [Public School] 2005-06', 'Charter School [Public School] 2004-05', 'Charter School [Public School] 2003-04', 'Charter School [Public School] 2002-03', 'Magnet School [Public School] 2013-14', 'Magnet School [Public School] 2012-13', 'Magnet School [Public School] 2011-12', 'Magnet School [Public School] 2010-11', 'Magnet School [Public School] 2009-10', 'Magnet School [Public School] 2008-09', 'Magnet School [Public School] 2007-08', 'Magnet School [Public School] 2006-07', 'Magnet School [Public School] 2005-06', 'Magnet School [Public School] 2004-05', 'Magnet School [Public School] 2003-04', 'Magnet School [Public School] 2002-03', 'Total Students All Grades (Excludes AE) [Public School] 2013-14', 'Total Students All Grades (Excludes AE) [Public School] 2012-13', 'Total Students All Grades (Excludes AE) [Public School] 2011-12', 'Total Students All Grades (Excludes AE) [Public School] 2010-11', 'Total Students All Grades (Excludes AE) [Public School] 2009-10', 'Total Students All Grades (Excludes AE) [Public School] 2008-09', 'Total Students All Grades (Excludes AE) [Public School] 2007-08', 'Total Students All Grades (Excludes AE) [Public School] 2006-07', 'Total Students All Grades (Excludes AE) [Public School] 2005-06', 'Total Students All Grades (Excludes AE) [Public School] 2004-05', 'Total Students All Grades (Excludes AE) [Public School] 2003-04', 'Total Students All Grades (Excludes AE) [Public School] 2002-03', 'Free Lunch Eligible [Public School] 2013-14', 'Free Lunch Eligible [Public School] 2012-13', 'Free Lunch Eligible [Public School] 2011-12', 'Free Lunch Eligible [Public School] 2010-11', 'Free Lunch Eligible [Public School] 2009-10', 'Free Lunch Eligible [Public School] 2008-09', 'Free Lunch Eligible [Public School] 2007-08', 'Free Lunch Eligible [Public School] 2006-07', 'Free Lunch Eligible [Public School] 2005-06', 'Free Lunch Eligible [Public School] 2004-05', 'Free Lunch Eligible [Public School] 2003-04', 'Free Lunch Eligible [Public School] 2002-03', 'Reduced-price Lunch Eligible Students [Public School] 2013-14', 'Reduced-price Lunch Eligible Students [Public School] 2012-13', 'Reduced-price Lunch Eligible Students [Public School] 2011-12', 'Reduced-price Lunch Eligible Students [Public School] 2010-11', 'Reduced-price Lunch Eligible Students [Public School] 2009-10', 'Reduced-price Lunch Eligible Students [Public School] 2008-09', 'Reduced-price Lunch Eligible Students [Public School] 2007-08', 'Reduced-price Lunch Eligible Students [Public School] 2006-07', 'Reduced-price Lunch Eligible Students [Public School] 2005-06', 'Reduced-price Lunch Eligible Students [Public School] 2004-05', 'Reduced-price Lunch Eligible Students [Public School] 2003-04', 'Reduced-price Lunch Eligible Students [Public School] 2002-03', 'Male Students [Public School] 2013-14', 'Male Students [Public School] 2012-13', 'Male Students [Public School] 2011-12', 'Male Students [Public School] 2010-11', 'Male Students [Public School] 2009-10', 'Male Students [Public School] 2008-09', 'Male Students [Public School] 2007-08', 'Male Students [Public School] 2006-07', 'Male Students [Public School] 2005-06', 'Male Students [Public School] 2004-05', 'Male Students [Public School] 2003-04', 'Male Students [Public School] 2002-03', 'Female Students [Public School] 2013-14', 'Female Students [Public School] 2012-13', 'Female Students [Public School] 2011-12', 'Female Students [Public School] 2010-11', 'Female Students [Public School] 2009-10', 'Female Students [Public School] 2008-09', 'Female Students [Public School] 2007-08', 'Female Students [Public School] 2006-07', 'Female Students [Public School] 2005-06', 'Female Students [Public School] 2004-05', 'Female Students [Public School] 2003-04', 'Female Students [Public School] 2002-03', 'American Indian/Alaska Native Students [Public School] 2013-14', 'American Indian/Alaska Native Students [Public School] 2012-13', 'American Indian/Alaska Native Students [Public School] 2011-12', 'American Indian/Alaska Native Students [Public School] 2010-11', 'American Indian/Alaska Native Students [Public School] 2009-10', 'American Indian/Alaska Native Students [Public School] 2008-09', 'American Indian/Alaska Native Students [Public School] 2007-08', 'American Indian/Alaska Native Students [Public School] 2006-07', 'American Indian/Alaska Native Students [Public School] 2005-06', 'American Indian/Alaska Native Students [Public School] 2004-05', 'American Indian/Alaska Native Students [Public School] 2003-04', 'American Indian/Alaska Native Students [Public School] 2002-03', 'Asian or Asian/Pacific Islander Students [Public School] 2013-14', 'Asian or Asian/Pacific Islander Students [Public School] 2012-13', 'Asian or Asian/Pacific Islander Students [Public School] 2011-12', 'Asian or Asian/Pacific Islander Students [Public School] 2010-11', 'Asian or Asian/Pacific Islander Students [Public School] 2009-10', 'Asian or Asian/Pacific Islander Students [Public School] 2008-09', 'Asian or Asian/Pacific Islander Students [Public School] 2007-08', 'Asian or Asian/Pacific Islander Students [Public School] 2006-07', 'Asian or Asian/Pacific Islander Students [Public School] 2005-06', 'Asian or Asian/Pacific Islander Students [Public School] 2004-05', 'Asian or Asian/Pacific Islander Students [Public School] 2003-04', 'Asian or Asian/Pacific Islander Students [Public School] 2002-03', 'Hispanic Students [Public School] 2013-14', 'Hispanic Students [Public School] 2012-13', 'Hispanic Students [Public School] 2011-12', 'Hispanic Students [Public School] 2010-11', 'Hispanic Students [Public School] 2009-10', 'Hispanic Students [Public School] 2008-09', 'Hispanic Students [Public School] 2007-08', 'Hispanic Students [Public School] 2006-07', 'Hispanic Students [Public School] 2005-06', 'Hispanic Students [Public School] 2004-05', 'Hispanic Students [Public School] 2003-04', 'Hispanic Students [Public School] 2002-03', 'Black or African American Students [Public School] 2013-14', 'Black or African American Students [Public School] 2012-13', 'Black or African American Students [Public School] 2011-12', 'Black or African American Students [Public School] 2010-11', 'Black or African American Students [Public School] 2009-10', 'Black or African American Students [Public School] 2008-09', 'Black or African American Students [Public School] 2007-08', 'Black or African American Students [Public School] 2006-07', 'Black or African American Students [Public School] 2005-06', 'Black or African American Students [Public School] 2004-05', 'Black or African American Students [Public School] 2003-04', 'Black or African American Students [Public School] 2002-03', 'White Students [Public School] 2013-14', 'White Students [Public School] 2012-13', 'White Students [Public School] 2011-12', 'White Students [Public School] 2010-11', 'White Students [Public School] 2009-10', 'White Students [Public School] 2008-09', 'White Students [Public School] 2007-08', 'White Students [Public School] 2006-07', 'White Students [Public School] 2005-06', 'White Students [Public School] 2004-05', 'White Students [Public School] 2003-04', 'White Students [Public School] 2002-03', 'Full-Time Equivalent (FTE) Teachers [Public School] 2013-14', 'Full-Time Equivalent (FTE) Teachers [Public School] 2012-13', 'Full-Time Equivalent (FTE) Teachers [Public School] 2011-12', 'Full-Time Equivalent (FTE) Teachers [Public School] 2010-11', 'Full-Time Equivalent (FTE) Teachers [Public School] 2009-10', 'Full-Time Equivalent (FTE) Teachers [Public School] 2008-09', 'Full-Time Equivalent (FTE) Teachers [Public School] 2007-08', 'Full-Time Equivalent (FTE) Teachers [Public School] 2006-07', 'Full-Time Equivalent (FTE) Teachers [Public School] 2005-06', 'Full-Time Equivalent (FTE) Teachers [Public School] 2004-05', 'Full-Time Equivalent (FTE) Teachers [Public School] 2003-04', 'Full-Time Equivalent (FTE) Teachers [Public School] 2002-03', 'Pupil/Teacher Ratio [Public School] 2013-14', 'Pupil/Teacher Ratio [Public School] 2012-13', 'Pupil/Teacher Ratio [Public School] 2011-12', 'Pupil/Teacher Ratio [Public School] 2010-11', 'Pupil/Teacher Ratio [Public School] 2009-10', 'Pupil/Teacher Ratio [Public School] 2008-09', 'Pupil/Teacher Ratio [Public School] 2007-08', 'Pupil/Teacher Ratio [Public School] 2006-07', 'Pupil/Teacher Ratio [Public School] 2005-06', 'Pupil/Teacher Ratio [Public School] 2004-05', 'Pupil/Teacher Ratio [Public School] 2003-04', 'Pupil/Teacher Ratio [Public School] 2002-03']

In [29]:
data_cleaned = data_cleaned.drop(columns=['Charter School [Public School] 2013-14', 
                                    'Charter School [Public School] 2012-13', 'Charter School [Public School] 2011-12', 
                                    'Charter School [Public School] 2010-11', 'Charter School [Public School] 2009-10', 
                                    'Charter School [Public School] 2008-09', 'Charter School [Public School] 2007-08', 
                                    'Charter School [Public School] 2006-07', 'Charter School [Public School] 2005-06', 
                                    'Charter School [Public School] 2004-05', 'Charter School [Public School] 2003-04', 
                                    'Charter School [Public School] 2002-03', 'Magnet School [Public School] 2013-14', 
                                    'Magnet School [Public School] 2012-13', 'Magnet School [Public School] 2011-12', 
                                    'Magnet School [Public School] 2010-11', 'Magnet School [Public School] 2009-10', 
                                    'Magnet School [Public School] 2008-09', 'Magnet School [Public School] 2007-08', 
                                    'Magnet School [Public School] 2006-07', 'Magnet School [Public School] 2005-06', 
                                    'Magnet School [Public School] 2004-05', 'Magnet School [Public School] 2003-04', 
                                    'Magnet School [Public School] 2002-03','Reduced-price Lunch Eligible Students [Public School] 2013-14', 
                                    'Reduced-price Lunch Eligible Students [Public School] 2012-13', 'Reduced-price Lunch Eligible Students [Public School] 2011-12', 
                                    'Reduced-price Lunch Eligible Students [Public School] 2010-11', 'Reduced-price Lunch Eligible Students [Public School] 2009-10', 
                                    'Reduced-price Lunch Eligible Students [Public School] 2008-09', 'Reduced-price Lunch Eligible Students [Public School] 2007-08', 
                                    'Reduced-price Lunch Eligible Students [Public School] 2006-07', 'Reduced-price Lunch Eligible Students [Public School] 2005-06', 
                                    'Reduced-price Lunch Eligible Students [Public School] 2004-05', 'Reduced-price Lunch Eligible Students [Public School] 2003-04', 
                                    'Reduced-price Lunch Eligible Students [Public School] 2002-03', 'Male Students [Public School] 2013-14',
                                    'Male Students [Public School] 2012-13', 'Male Students [Public School] 2011-12', 'Male Students [Public School] 2010-11', 
                                    'Male Students [Public School] 2009-10', 'Male Students [Public School] 2008-09', 'Male Students [Public School] 2007-08', 
                                    'Male Students [Public School] 2006-07', 'Male Students [Public School] 2005-06', 'Male Students [Public School] 2004-05', 
                                    'Male Students [Public School] 2003-04', 'Male Students [Public School] 2002-03', 'Female Students [Public School] 2013-14', 
                                    'Female Students [Public School] 2012-13', 'Female Students [Public School] 2011-12', 'Female Students [Public School] 2010-11',
                                    'Female Students [Public School] 2009-10', 'Female Students [Public School] 2008-09', 'Female Students [Public School] 2007-08',
                                    'Female Students [Public School] 2006-07', 'Female Students [Public School] 2005-06', 'Female Students [Public School] 2004-05',
                                    'Female Students [Public School] 2003-04', 'Female Students [Public School] 2002-03', 
                                    'American Indian/Alaska Native Students [Public School] 2013-14', 
                                    'American Indian/Alaska Native Students [Public School] 2012-13', 
                                    'American Indian/Alaska Native Students [Public School] 2011-12', 
                                    'American Indian/Alaska Native Students [Public School] 2010-11', 
                                    'American Indian/Alaska Native Students [Public School] 2009-10', 
                                    'American Indian/Alaska Native Students [Public School] 2008-09', 
                                    'American Indian/Alaska Native Students [Public School] 2007-08', 
                                    'American Indian/Alaska Native Students [Public School] 2006-07', 
                                    'American Indian/Alaska Native Students [Public School] 2005-06', 
                                    'American Indian/Alaska Native Students [Public School] 2004-05', 
                                    'American Indian/Alaska Native Students [Public School] 2003-04', 
                                    'American Indian/Alaska Native Students [Public School] 2002-03', 
                                    'Asian or Asian/Pacific Islander Students [Public School] 2013-14', 
                                    'Asian or Asian/Pacific Islander Students [Public School] 2012-13', 
                                    'Asian or Asian/Pacific Islander Students [Public School] 2011-12', 
                                    'Asian or Asian/Pacific Islander Students [Public School] 2010-11', 
                                    'Asian or Asian/Pacific Islander Students [Public School] 2009-10', 
                                    'Asian or Asian/Pacific Islander Students [Public School] 2008-09', 
                                    'Asian or Asian/Pacific Islander Students [Public School] 2007-08', 
                                    'Asian or Asian/Pacific Islander Students [Public School] 2006-07', 
                                    'Asian or Asian/Pacific Islander Students [Public School] 2005-06', 
                                    'Asian or Asian/Pacific Islander Students [Public School] 2004-05', 
                                    'Asian or Asian/Pacific Islander Students [Public School] 2003-04', 
                                    'Asian or Asian/Pacific Islander Students [Public School] 2002-03', 
                                    'Hispanic Students [Public School] 2013-14', 'Hispanic Students [Public School] 2012-13', 
                                    'Hispanic Students [Public School] 2011-12', 'Hispanic Students [Public School] 2010-11', 
                                    'Hispanic Students [Public School] 2009-10', 'Hispanic Students [Public School] 2008-09', 
                                    'Hispanic Students [Public School] 2007-08', 'Hispanic Students [Public School] 2006-07', 
                                    'Hispanic Students [Public School] 2005-06', 'Hispanic Students [Public School] 2004-05', 
                                    'Hispanic Students [Public School] 2003-04', 'Hispanic Students [Public School] 2002-03', 
                                    'Black or African American Students [Public School] 2013-14', 'Black or African American Students [Public School] 2012-13', 
                                    'Black or African American Students [Public School] 2011-12', 'Black or African American Students [Public School] 2010-11', 
                                    'Black or African American Students [Public School] 2009-10', 'Black or African American Students [Public School] 2008-09', 
                                    'Black or African American Students [Public School] 2007-08', 'Black or African American Students [Public School] 2006-07', 
                                    'Black or African American Students [Public School] 2005-06', 'Black or African American Students [Public School] 2004-05', 
                                    'Black or African American Students [Public School] 2003-04', 'Black or African American Students [Public School] 2002-03', 
                                    'White Students [Public School] 2013-14', 'White Students [Public School] 2012-13', 'White Students [Public School] 2011-12', 
                                    'White Students [Public School] 2010-11', 'White Students [Public School] 2009-10', 'White Students [Public School] 2008-09', 
                                    'White Students [Public School] 2007-08', 'White Students [Public School] 2006-07', 'White Students [Public School] 2005-06', 
                                    'White Students [Public School] 2004-05', 'White Students [Public School] 2003-04', 'White Students [Public School] 2002-03', 
                                    'Full-Time Equivalent (FTE) Teachers [Public School] 2013-14', 'Full-Time Equivalent (FTE) Teachers [Public School] 2012-13', 
                                    'Full-Time Equivalent (FTE) Teachers [Public School] 2011-12', 'Full-Time Equivalent (FTE) Teachers [Public School] 2010-11', 
                                    'Full-Time Equivalent (FTE) Teachers [Public School] 2009-10', 'Full-Time Equivalent (FTE) Teachers [Public School] 2008-09', 
                                    'Full-Time Equivalent (FTE) Teachers [Public School] 2007-08', 'Full-Time Equivalent (FTE) Teachers [Public School] 2006-07', 
                                    'Full-Time Equivalent (FTE) Teachers [Public School] 2005-06', 'Full-Time Equivalent (FTE) Teachers [Public School] 2004-05', 
                                    'Full-Time Equivalent (FTE) Teachers [Public School] 2003-04', 'Full-Time Equivalent (FTE) Teachers [Public School] 2002-03',])

In [30]:
data_cleaned

,School Name,State Name [Public School] Latest available year,School ID - NCES Assigned [Public School] Latest available year,County Name [Public School] 2013-14,Location ZIP [Public School] 2013-14,Location City [Public School] 2013-14,School Type [Public School] 2013-14,Total Students All Grades (Excludes AE) [Public School] 2013-14,Total Students All Grades (Excludes AE) [Public School] 2012-13,Total Students All Grades (Excludes AE) [Public School] 2011-12,Total Students All Grades (Excludes AE) [Public School] 2010-11,Total Students All Grades (Excludes AE) [Public School] 2009-10,Total Students All Grades (Excludes AE) [Public School] 2008-09,Total Students All Grades (Excludes AE) [Public School] 2007-08,Total Students All Grades (Excludes AE) [Public School] 2006-07,Total Students All Grades (Excludes AE) [Public School] 2005-06,Total Students All Grades (Excludes AE) [Public School] 2004-05,Total Students All Grades (Excludes AE) [Public School] 2003-04,Total Students All Grades (Excludes AE) [Public School] 2002-03,Free Lunch Eligible [Public School] 2013-14,Free Lunch Eligible [Public School] 2012-13,Free Lunch Eligible [Public School] 2011-12,Free Lunch Eligible [Public School] 2010-11,Free Lunch Eligible [Public School] 2009-10,Free Lunch Eligible [Public School] 2008-09,Free Lunch Eligible [Public School] 2007-08,Free Lunch Eligible [Public School] 2006-07,Free Lunch Eligible [Public School] 2005-06,Free Lunch Eligible [Public School] 2004-05,Free Lunch Eligible [Public School] 2003-04,Free Lunch Eligible [Public School] 2002-03,Pupil/Teacher Ratio [Public School] 2013-14,Pupil/Teacher Ratio [Public School] 2012-13,Pupil/Teacher Ratio [Public School] 2011-12,Pupil/Teacher Ratio [Public School] 2010-11,Pupil/Teacher Ratio [Public School] 2009-10,Pupil/Teacher Ratio [Public School] 2008-09,Pupil/Teacher Ratio [Public School] 2007-08,Pupil/Teacher Ratio [Public School] 2006-07,Pupil/Teacher Ratio [Public School] 2005-06,Pupil/Teacher Ratio [Public School] 2004-05,Pupil/Teacher Ratio [Public School] 2003-04,Pupil/Teacher Ratio [Public School] 2002-03
0,`FRANKLIN ELEMENTARY SCHOOL,New Jersey,3.407890e+11,HUDSON COUNTY,07032,KEARNY,1-Regular school,1086,1095,1062,857,1027,1006,940,897,927,948,988,1010,581,506,253,250,409,377,304,278,349,<NA>,266,272,11.28,14.15,12.94,14.05,16.56,13.60,15.70,13.40,14.60,14.60,15.90,16.00
2,1 LT CHARLES W. WHITCOMB SCHOOL,Massachusetts,2.507320e+11,MIDDLESEX COUNTY,01752,MARLBOROUGH,1-Regular school,1365,1378,1365,1407,1360,1345,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,554,520,505,487,443,373,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,12.84,13.33,13.63,13.00,12.16,11.30,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,100 ACADEMY OF ENGINEERING AND TECHNOLOGY ES,Nevada,3.200060e+11,CLARK COUNTY,89032,NORTH LAS VEGAS,1-Regular school,574,504,423,289,354,450,634,501,<NA>,<NA>,<NA>,<NA>,435,348,0,171,<NA>,153,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,30.21,21.91,141.00,20.64,19.67,19.60,48.80,45.50,<NA>,<NA>,<NA>,<NA>
5,100 ACADEMY OF ENGINEERING AND TECHNOLOGY MS,Nevada,3.200060e+11,CLARK COUNTY,89032,NORTH LAS VEGAS,1-Regular school,140,166,135,86,133,151,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,98,108,0,49,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,17.50,15.09,45.00,21.50,<NA>,18.90,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
6,100 BLACK MEN OF THE BAY AREA COMMUNITY,California,6.280501e+10,ALAMEDA COUNTY,94607,OAKLAND,1-Regular school,103,87,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,41,18,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,14.71,17.40,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580504,ZUPANIC VIRTUAL ACADEMY,California,6.323701e+10,SAN BERNARDINO COUNTY,92376,RIALTO,4-Alternative Education School,99,121,146,171,181,220,190,219,220,189,217,230,33,58,<NA>,75,75,68,54,61,65,43,45,53,25.26,30.25,29.20,<NA>,25.86,31.40,19.00,36.50,36.70,27.00,36.20,38.30
580505,ZURICH SCHOOL,Montana,3.028910e+11,BLAINE COUNTY,59547,ZURICH,1-Regular school,22,23,31,24,32,41,42,43,41,50,54,52,13,10,15,8,11,13,14,7,10,15,11,16,5.50,5.75,7.71,5.97,7.96,10.30,8.40,8.60,8.20,10.00,10.80,10.40
580506,ZWINK EL,Texas,4.825740e+11,HARRIS COUNTY,77389,SPRING,1-Regular school,879,815,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,327,316,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,16.37,16.18,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
580507,ZWOLLE ELEMENTARY SCHOOL,Louisiana,2.201380e+11,SABINE PARISH,71486,ZWOLLE,1-Regular school,523,534,535,547,544,549,474,455,457,326,320,326,405,413,411,417,431,413,368,337,341,252,228,239,14.94,13.98,12.74,13.68,12.60,14.40,14.40,14.70,14.60,12.80,14.50,15.50
580508,ZWOLLE HIGH SCHOOL,Louisiana,2.201380e+11,SABINE PARISH,71486,ZWOLLE,1-Regular school,333,328,308,295,294,324,313,333,334,228,252,261,211,202,202,198,220,206,212,230,239,138,145,141,14.48,13.15,11.85,10.93,11.01,12.00,11.60,11.90,11.70,12.00,12.80,15.40

In [33]:
data_cleaned.index.names=["Schools_Index"]

In [34]:
#print to CSV
data_cleaned.to_csv('Schools_Merged_Data_2.csv')