In [1]:
import pandas as pd

In [2]:
file_path_1 = "C:\\Users\\LabUser\\Project_3\\School_Data\\ELSI_csv_export_1.csv"
file_path_2 = "C:\\Users\\LabUser\\Project_3\\School_Data\\ELSI_csv_export_2.csv"
file_path_3 = "C:\\Users\\LabUser\\Project_3\\School_Data\\ELSI_csv_export_3.csv"

In [3]:
data_1 = pd.read_csv(file_path_1, skiprows=6)
data_2 = pd.read_csv(file_path_2, skiprows=6)
data_3 = pd.read_csv(file_path_3, skiprows=6)

In [4]:
data_1 = data_1.drop(columns=['ANSI/FIPS State Code [Public School] Latest available year'])
data_2 = data_2.drop(columns=['ANSI/FIPS State Code [Public School] Latest available year'])
data_3 = data_3.drop(columns=['ANSI/FIPS State Code [Public School] Latest available year'])

In [5]:
data_1 = data_1.drop_duplicates()
data_2 = data_2.drop_duplicates()
data_3 = data_3.drop_duplicates()

In [6]:
data_1.drop_duplicates()

,School Name,State Name [Public School] Latest available year,School ID - NCES Assigned [Public School] Latest available year,County Name [Public School] 2013-14,Location ZIP [Public School] 2013-14,Location City [Public School] 2013-14,School Type [Public School] 2013-14,Charter School [Public School] 2013-14,Charter School [Public School] 2012-13,Charter School [Public School] 2011-12,...,Reduced-price Lunch Eligible Students [Public School] 2011-12,Reduced-price Lunch Eligible Students [Public School] 2010-11,Reduced-price Lunch Eligible Students [Public School] 2009-10,Reduced-price Lunch Eligible Students [Public School] 2008-09,Reduced-price Lunch Eligible Students [Public School] 2007-08,Reduced-price Lunch Eligible Students [Public School] 2006-07,Reduced-price Lunch Eligible Students [Public School] 2005-06,Reduced-price Lunch Eligible Students [Public School] 2004-05,Reduced-price Lunch Eligible Students [Public School] 2003-04,Reduced-price Lunch Eligible Students [Public School] 2002-03
0,`FRANKLIN ELEMENTARY SCHOOL,New Jersey,3.407890e+11,HUDSON COUNTY,07032,KEARNY,1-Regular school,2-No,2-No,2-No,...,124,111,121,124,152,128,109,–,116,153
1,03-MM,Florida,1.201500e+11,†,†,†,†,†,†,†,...,†,†,†,†,†,†,†,†,†,†
2,1 LT CHARLES W. WHITCOMB SCHOOL,Massachusetts,2.507320e+11,MIDDLESEX COUNTY,01752,MARLBOROUGH,1-Regular school,2-No,2-No,2-No,...,113,126,118,117,†,†,†,†,†,†
3,1 SCHOOL ...,New York,3.616830e+11,†,†,†,†,†,†,†,...,†,†,†,†,†,†,†,†,–,18
4,100 ACADEMY OF ENGINEERING AND TECHNOLOGY ES,Nevada,3.200060e+11,CLARK COUNTY,89032,NORTH LAS VEGAS,1-Regular school,1-Yes,1-Yes,1-Yes,...,0,21,–,36,–,–,†,†,†,†
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124865,ZWOLLE INTERMEDIATE SCHOOL ...,Louisiana,2.201380e+11,†,†,†,†,†,†,†,...,†,†,†,†,†,†,†,30,31,33
124866,Data Source: U.S. Department of Education Nati...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124867,† indicates that the data are not applicable.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124868,– indicates that the data are missing.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124869,‡ indicates that the data do not meet NCES dat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
data_2.drop_duplicates()

,School Name,State Name [Public School] Latest available year,Male Students [Public School] 2013-14,Male Students [Public School] 2012-13,Male Students [Public School] 2011-12,Male Students [Public School] 2010-11,Male Students [Public School] 2009-10,Male Students [Public School] 2008-09,Male Students [Public School] 2007-08,Male Students [Public School] 2006-07,...,Black or African American Students [Public School] 2011-12,Black or African American Students [Public School] 2010-11,Black or African American Students [Public School] 2009-10,Black or African American Students [Public School] 2008-09,Black or African American Students [Public School] 2007-08,Black or African American Students [Public School] 2006-07,Black or African American Students [Public School] 2005-06,Black or African American Students [Public School] 2004-05,Black or African American Students [Public School] 2003-04,Black or African American Students [Public School] 2002-03
0,`FRANKLIN ELEMENTARY SCHOOL,New Jersey,534,555,539,433,530,515,481,464,...,26,20,24,14,13,14,17,9,12,6
1,03-MM,Florida,†,†,†,†,†,†,†,†,...,†,†,†,†,†,†,†,†,†,†
2,1 LT CHARLES W. WHITCOMB SCHOOL,Massachusetts,694,713,695,717,721,694,†,†,...,38,40,40,40,†,†,†,†,†,†
3,1 SCHOOL ...,New York,†,†,†,†,†,†,†,†,...,†,†,†,†,†,†,†,†,38,35
4,100 ACADEMY OF ENGINEERING AND TECHNOLOGY ES,Nevada,281,261,211,150,177,225,314,256,...,328,235,318,391,578,448,†,†,†,†
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124865,ZWOLLE INTERMEDIATE SCHOOL ...,Louisiana,†,†,†,†,†,†,†,†,...,†,†,†,†,†,†,†,77,82,88
124866,Data Source: U.S. Department of Education Nati...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124867,† indicates that the data are not applicable.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124868,– indicates that the data are missing.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124869,‡ indicates that the data do not meet NCES dat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
merged_data_1_2 = pd.merge(data_1, data_2, on=['School Name', 'State Name [Public School] Latest available year'],
                how='left', suffixes=(None, '_overlapping'))

In [10]:
merged_data_1_2

,School Name,State Name [Public School] Latest available year,School ID - NCES Assigned [Public School] Latest available year,County Name [Public School] 2013-14,Location ZIP [Public School] 2013-14,Location City [Public School] 2013-14,School Type [Public School] 2013-14,Charter School [Public School] 2013-14,Charter School [Public School] 2012-13,Charter School [Public School] 2011-12,...,Black or African American Students [Public School] 2011-12,Black or African American Students [Public School] 2010-11,Black or African American Students [Public School] 2009-10,Black or African American Students [Public School] 2008-09,Black or African American Students [Public School] 2007-08,Black or African American Students [Public School] 2006-07,Black or African American Students [Public School] 2005-06,Black or African American Students [Public School] 2004-05,Black or African American Students [Public School] 2003-04,Black or African American Students [Public School] 2002-03
0,`FRANKLIN ELEMENTARY SCHOOL,New Jersey,3.407890e+11,HUDSON COUNTY,07032,KEARNY,1-Regular school,2-No,2-No,2-No,...,26,20,24,14,13,14,17,9,12,6
1,03-MM,Florida,1.201500e+11,†,†,†,†,†,†,†,...,†,†,†,†,†,†,†,†,†,†
2,1 LT CHARLES W. WHITCOMB SCHOOL,Massachusetts,2.507320e+11,MIDDLESEX COUNTY,01752,MARLBOROUGH,1-Regular school,2-No,2-No,2-No,...,38,40,40,40,†,†,†,†,†,†
3,1 SCHOOL ...,New York,3.616830e+11,†,†,†,†,†,†,†,...,†,†,†,†,†,†,†,†,38,35
4,100 ACADEMY OF ENGINEERING AND TECHNOLOGY ES,Nevada,3.200060e+11,CLARK COUNTY,89032,NORTH LAS VEGAS,1-Regular school,1-Yes,1-Yes,1-Yes,...,328,235,318,391,578,448,†,†,†,†
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164554,ZWOLLE INTERMEDIATE SCHOOL ...,Louisiana,2.201380e+11,†,†,†,†,†,†,†,...,†,†,†,†,†,†,†,77,82,88
164555,Data Source: U.S. Department of Education Nati...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164556,† indicates that the data are not applicable.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164557,– indicates that the data are missing.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164558,‡ indicates that the data do not meet NCES dat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
merged_data_1_2 = merged_data_1_2.loc[:, ~merged_data_1_2.columns.str.endswith('_overlapping')]

In [12]:
merged_data_1_2 = merged_data_1_2.dropna()

In [13]:
merged_data = pd.merge(merged_data_1_2, data_3,on=['School Name', 'State Name [Public School] Latest available year'],
            how='left', suffixes=(None, '_overlapping'))

In [14]:
merged_data = merged_data.loc[:, ~merged_data.columns.str.endswith('_overlapping')]

In [15]:
merged_data = merged_data[~merged_data['County Name [Public School] 2013-14'].str.contains('†', na=False)]

In [16]:
merged_data = merged_data.dropna()

In [17]:
merged_data = merged_data.drop_duplicates(subset=['School Name'])

In [18]:
merged_data

,School Name,State Name [Public School] Latest available year,School ID - NCES Assigned [Public School] Latest available year,County Name [Public School] 2013-14,Location ZIP [Public School] 2013-14,Location City [Public School] 2013-14,School Type [Public School] 2013-14,Charter School [Public School] 2013-14,Charter School [Public School] 2012-13,Charter School [Public School] 2011-12,...,Pupil/Teacher Ratio [Public School] 2011-12,Pupil/Teacher Ratio [Public School] 2010-11,Pupil/Teacher Ratio [Public School] 2009-10,Pupil/Teacher Ratio [Public School] 2008-09,Pupil/Teacher Ratio [Public School] 2007-08,Pupil/Teacher Ratio [Public School] 2006-07,Pupil/Teacher Ratio [Public School] 2005-06,Pupil/Teacher Ratio [Public School] 2004-05,Pupil/Teacher Ratio [Public School] 2003-04,Pupil/Teacher Ratio [Public School] 2002-03
0,`FRANKLIN ELEMENTARY SCHOOL,New Jersey,3.407890e+11,HUDSON COUNTY,07032,KEARNY,1-Regular school,2-No,2-No,2-No,...,12.94,14.05,16.56,13.60,15.70,13.40,14.60,14.60,15.90,16.00
2,1 LT CHARLES W. WHITCOMB SCHOOL,Massachusetts,2.507320e+11,MIDDLESEX COUNTY,01752,MARLBOROUGH,1-Regular school,2-No,2-No,2-No,...,13.63,13.00,12.16,11.30,†,†,†,†,†,†
4,100 ACADEMY OF ENGINEERING AND TECHNOLOGY ES,Nevada,3.200060e+11,CLARK COUNTY,89032,NORTH LAS VEGAS,1-Regular school,1-Yes,1-Yes,1-Yes,...,141.00,20.64,19.67,19.60,48.80,45.50,†,†,†,†
5,100 ACADEMY OF ENGINEERING AND TECHNOLOGY MS,Nevada,3.200060e+11,CLARK COUNTY,89032,NORTH LAS VEGAS,1-Regular school,1-Yes,1-Yes,1-Yes,...,45.00,21.50,†,18.90,†,†,†,†,†,†
6,100 BLACK MEN OF THE BAY AREA COMMUNITY,California,6.280501e+10,ALAMEDA COUNTY,94607,OAKLAND,1-Regular school,2-No,1-Yes,†,...,†,†,†,†,†,†,†,†,†,†
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580504,ZUPANIC VIRTUAL ACADEMY,California,6.323701e+10,SAN BERNARDINO COUNTY,92376,RIALTO,4-Alternative Education School,2-No,2-No,2-No,...,29.20,–,25.86,31.40,19.00,36.50,36.70,27.00,36.20,38.30
580505,ZURICH SCHOOL,Montana,3.028910e+11,BLAINE COUNTY,59547,ZURICH,1-Regular school,†,†,†,...,7.71,5.97,7.96,10.30,8.40,8.60,8.20,10.00,10.80,10.40
580506,ZWINK EL,Texas,4.825740e+11,HARRIS COUNTY,77389,SPRING,1-Regular school,2-No,2-No,2-No,...,†,†,†,†,†,†,†,†,†,†
580507,ZWOLLE ELEMENTARY SCHOOL,Louisiana,2.201380e+11,SABINE PARISH,71486,ZWOLLE,1-Regular school,2-No,2-No,2-No,...,12.74,13.68,12.60,14.40,14.40,14.70,14.60,12.80,14.50,15.50
580508,ZWOLLE HIGH SCHOOL,Louisiana,2.201380e+11,SABINE PARISH,71486,ZWOLLE,1-Regular school,2-No,2-No,2-No,...,11.85,10.93,11.01,12.00,11.60,11.90,11.70,12.00,12.80,15.40

In [19]:
# replace special characters
data_cleaned = merged_data.replace({"†": pd.NA, "–": pd.NA, "‡": pd.NA})
data_cleaned

,School Name,State Name [Public School] Latest available year,School ID - NCES Assigned [Public School] Latest available year,County Name [Public School] 2013-14,Location ZIP [Public School] 2013-14,Location City [Public School] 2013-14,School Type [Public School] 2013-14,Charter School [Public School] 2013-14,Charter School [Public School] 2012-13,Charter School [Public School] 2011-12,...,Pupil/Teacher Ratio [Public School] 2011-12,Pupil/Teacher Ratio [Public School] 2010-11,Pupil/Teacher Ratio [Public School] 2009-10,Pupil/Teacher Ratio [Public School] 2008-09,Pupil/Teacher Ratio [Public School] 2007-08,Pupil/Teacher Ratio [Public School] 2006-07,Pupil/Teacher Ratio [Public School] 2005-06,Pupil/Teacher Ratio [Public School] 2004-05,Pupil/Teacher Ratio [Public School] 2003-04,Pupil/Teacher Ratio [Public School] 2002-03
0,`FRANKLIN ELEMENTARY SCHOOL,New Jersey,3.407890e+11,HUDSON COUNTY,07032,KEARNY,1-Regular school,2-No,2-No,2-No,...,12.94,14.05,16.56,13.60,15.70,13.40,14.60,14.60,15.90,16.00
2,1 LT CHARLES W. WHITCOMB SCHOOL,Massachusetts,2.507320e+11,MIDDLESEX COUNTY,01752,MARLBOROUGH,1-Regular school,2-No,2-No,2-No,...,13.63,13.00,12.16,11.30,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,100 ACADEMY OF ENGINEERING AND TECHNOLOGY ES,Nevada,3.200060e+11,CLARK COUNTY,89032,NORTH LAS VEGAS,1-Regular school,1-Yes,1-Yes,1-Yes,...,141.00,20.64,19.67,19.60,48.80,45.50,<NA>,<NA>,<NA>,<NA>
5,100 ACADEMY OF ENGINEERING AND TECHNOLOGY MS,Nevada,3.200060e+11,CLARK COUNTY,89032,NORTH LAS VEGAS,1-Regular school,1-Yes,1-Yes,1-Yes,...,45.00,21.50,<NA>,18.90,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
6,100 BLACK MEN OF THE BAY AREA COMMUNITY,California,6.280501e+10,ALAMEDA COUNTY,94607,OAKLAND,1-Regular school,2-No,1-Yes,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580504,ZUPANIC VIRTUAL ACADEMY,California,6.323701e+10,SAN BERNARDINO COUNTY,92376,RIALTO,4-Alternative Education School,2-No,2-No,2-No,...,29.20,<NA>,25.86,31.40,19.00,36.50,36.70,27.00,36.20,38.30
580505,ZURICH SCHOOL,Montana,3.028910e+11,BLAINE COUNTY,59547,ZURICH,1-Regular school,<NA>,<NA>,<NA>,...,7.71,5.97,7.96,10.30,8.40,8.60,8.20,10.00,10.80,10.40
580506,ZWINK EL,Texas,4.825740e+11,HARRIS COUNTY,77389,SPRING,1-Regular school,2-No,2-No,2-No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
580507,ZWOLLE ELEMENTARY SCHOOL,Louisiana,2.201380e+11,SABINE PARISH,71486,ZWOLLE,1-Regular school,2-No,2-No,2-No,...,12.74,13.68,12.60,14.40,14.40,14.70,14.60,12.80,14.50,15.50
580508,ZWOLLE HIGH SCHOOL,Louisiana,2.201380e+11,SABINE PARISH,71486,ZWOLLE,1-Regular school,2-No,2-No,2-No,...,11.85,10.93,11.01,12.00,11.60,11.90,11.70,12.00,12.80,15.40

In [20]:
data_cleaned.to_csv('Schools Merged Data 2.csv')